# 作用：定义Git版本控制需要忽略的文件和目录。

*.log*
*.idea*
*.pyc*
*.class*
*.metadata*
*output*
*.iml*
*nohup.out*
*uwsgi.pid*
*.pytest_cache*
*common/java/lib/java/libs/*
*config/app_ui_tmp/*
*packages*
*.vscode*
*ychtest.py*
.venv/
node_modules/
.appium/
